.post {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #170a4d;
  border-radius: 10px;
  color: white;
  position: relative;
  cursor: pointer;
}
.post:hover {
  background-image: linear-gradient(to bottom, #f29200, rgb(255, 255, 255));
  color: black;
}

.productContainer {
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.productContainer:hover {
  transform: scale(1.05); /* Scales the whole container (image + title) */
}

@media (max-width: 550px) {
  .post {
    width: 46%;
  }
}

.image {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.typeAndDate {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
  padding-bottom: 3px;
}
