.cart-page {
    padding: 20px;
    background-color: black;
  }
  
  .cart-container {
    display: flex;
    justify-content: space-between;
  }
  
  .cart-items {
    flex: 2;
    margin-right: 20px;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .cart-item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cart-summary {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
  }
  
  .summary-details {
    margin-bottom: 20px;
  }
  
  .checkout-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkout-button:hover {
    background-color: #0056b3;
  }
  